body {
  min-height: 100vh;
  background-color: #ff5a5a;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 3.5rem;
  color: #fff;
  text-align: center;
}
